<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1,
minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
     <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css">
    <script src="__PUBLIC__/Home/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/Home/js/xh-js.js"></script>
        <style media="screen">
            .select{width:100%;height:0.88rem;float: left;font-size:0.3rem}
            .select option{font-size:0.3rem;}
        </style>


    </head>
    <body>
	 <header class="clearfix">
			<div class="hd-l clearfix">
				<div class="logo">
					<img src="__PUBLIC__/Home/images/logo.png" alt="">
					<p>幸运猪</p>
				</div>
				<div class="hd-line">
					<img src="__PUBLIC__/Home/images/hd-line.png" alt="">
				</div>
                <div class="lo-tle clearfix">
                	<span class="ml16">领先易贷</span>
                	<img src="__PUBLIC__/Home/images/dian1.jpg" alt="">
                	<span class="ml10">以租代购</span>
                </div>
			</div>
            <div class="hd-r">
            	<img src="__PUBLIC__/Home/images/hd-r.png" alt="">
            </div>
	</header>
	<!--  -->
	<section class="banner">
			<div class="slider">
             <ul class="slides">
             <li class="slide">
             <a href="" class="box"><img src="__PUBLIC__/Home/images/banner-1.jpg" alt=""></a>
             </li>
             <li class="slide">
             <a href="" class="box"><img src="__PUBLIC__/Home/images/banner-2.jpg" alt=""></a>
             </li>
              <li class="slide">
             <a href="" class="box"><img src="__PUBLIC__/Home/images/banner-3.jpg" alt=""></a>
             </li>
              <li class="slide">
             <a href="" class="box"><img src="__PUBLIC__/Home/images/banner-4.jpg" alt=""></a>
             </li>
               <li class="slide">
             <a href="" class="box"><img src="__PUBLIC__/Home/images/banner-5.jpg" alt=""></a>
             </li>
               <li class="slide">
             <a href="" class="box"><img src="__PUBLIC__/Home/images/banner-6.jpg" alt=""></a>
             </li>
             </ul>
       		</div>
	  </section>
	  <section class="box-1 clearfix">
	  <!--  -->
	  	<div class="box1-item clearfix">
	  		<div class="bit1-pic">
	  			<img src="__PUBLIC__/Home/images/box1-1.png" alt="">
	  		</div>
	  		<div class="bit1-text">
	  			<div>优惠多</div>
	  			<p>1成首付 </p>
	  			<p>利息低</p>
	  		</div>
	  	</div>
	  	<!--  -->
	  	<div class="box1-item clearfix" style="width:3.69rem;">
	  		<div class="bit1-pic" style="margin-left: 0rem">
	  			<img src="__PUBLIC__/Home/images/box1-3.png" alt="">
	  		</div>
	  		<div class="bit1-text" style="width:2.8rem;margin-left:0.2rem">
	  			<div>麻烦少</div>
	  			<p>不限居住证 ，不看征信 </p>
	  			<p>不需要流水 ，不用夫妻共签</p>
	  		</div>
	  	</div>
	  	 <!--  -->
	  	<div class="box1-item clearfix" style="margin-top:0.11rem">
	  		<div class="bit1-pic">
	  			<img src="__PUBLIC__/Home/images/box1-2.png" alt="">
	  		</div>
	  		<div class="bit1-text">
	  			<div>材料少</div>
	  			<p>提供身份证 </p>
	  			<p>提供驾驶证</p>
	  		</div>
	  	</div>
	  	<!--  -->
	  	<div class="box1-item clearfix" style="margin-top:0.11rem;width:3.69rem">
	  		<div class="bit1-pic" style="margin-left: 0rem">
	  			<img src="__PUBLIC__/Home/images/box1-4.png" alt="">
	  		</div>
	  		<div class="bit1-text" style="width:2.8rem;margin-left:0.2rem">
	  			<div>提车快</div>
	  			<p>最快2小时把车开走 </p>

	  		</div>
	  	</div>
	  </section>
	  <div style="width:7.2rem;height:0.22rem;background-color:#f7f7f7; "></div>
	  <section style="padding-bottom:0.88rem" id="abc">
	  	<form id="orderForm">
	  		<div class="form-box">
        <div style="width:7.2rem;height: 0.86rem;">
	  			<div class="form-tle">
	  				<img src="__PUBLIC__/Home/images/tle-price.png" alt="">
	  				<p>申请提车</p>
	  			</div>
          </div>
	  			<!--  -->
	  			<div class="form-input">
	  			<!--  -->
	  				<div class="formin-1" style="height:3.5rem;">
                       <!-- one -->
	  					<div class="form1">
	  					<!-- 1 -->
	  					<div class="form1-item clearfix">
	  						<div class="it1-pic">
	  							<img src="__PUBLIC__/Home/images/use.png" alt="">
	  						</div>
	  						<div class="it1-name">
	  							姓           名   ：
	  						</div>
	  						<div class="it1-input">
                                   <input type="text" placeholder="请输入你的姓名" id="Name" onblur="checkName()" name="form[username]">
	  						</div>

	  					</div>
	  					<!--  -->
                           <div class="warm-name">
                             用户名不能为空
                           </div>
	  					<!--  2-->
	  					<div class="form1-item clearfix">
	  						<div class="it1-pic">
	  							<img src="__PUBLIC__/Home/images/phone.png" alt="">
	  						</div>
	  						<div class="it1-name">
	  							手机号   ：
	  						</div>
	  						<div class="it1-input">
                                   <input type="text" placeholder="请输入你的手机号" id="phone"  onblur="checkPhone()" name="form[mobile]" />
	  						</div>
	  					</div>
	  					<!--  -->
	  					  <div class="warm-phone">
                             手机号不能为空
                           </div>
	  				<!-- 3 -->
                        <div class="form1-item clearfix" style="border-bottom: none;">
	  						<div class="it1-pic">
	  							<img src="__PUBLIC__/Home/images/yzm.png" alt="">
	  						</div>
	  						<div class="it1-name">
	  							验证码   ：
	  						</div>
	  						<div class="it1-input" style="width:4.5rem">
                                 <input type="text" class="yzm-input" name="form[code]">
                                 <div class="yzm-line"></div>
                                <button type="button" class="yzm-btn" id="smsBtn" disabled="disabled">获取验证码</button>
	  						</div>
	  					</div>
	  				<!--  3-end-->
	  				</div>

	  				</div>
	  				<!-- one-end -->
                     <div style="width:7.2rem;height:0.19rem;background-color:#f7f7f7; "></div>
                    <!-- two -->
	  				<div class="form1">
	  			   <!-- 4 -->
                      <div class="form1-item clearfix">
	  						<div class="it1-pic">
	  							<img src="__PUBLIC__/Home/images/sheng.png" alt="">
	  						</div>
	  						<div class="it1-name">
	  							选择省   ：
	  						</div>
	  						<div class="it1-input">
	  						<!--  -->
                             <div class="demo">
                                <!-- 省 -->
        					<select class="select" isval="true" msg="请选择省份" id="provinces" name="area1" onchange="loadRegion('provinces',2,'citys','__CONTROLLER__/getRegion');">
            					<option>省</option>
                                <volist name="province" id="vo">
                                    <option value="{$vo.id}" >{$vo.name}</option>
                                </volist>
       					 </select>
       					 <!--  -->
    					</div>
    					<!--  -->
	  					</div>
	  					</div>
	  				<!-- sheng-end -->
                    <!-- shi -->
                        <div class="form1-item clearfix">
	  						<div class="it1-pic">
	  							<img src="__PUBLIC__/Home/images/shi.png" alt="">
	  						</div>
	  						<div class="it1-name">
	  							选择市   ：
	  						</div>
	  						<div class="it1-input">
	  						<!--  -->
                             <div class="demo">
                                <!-- 市 -->
        					<select class="select" isval="true" msg="请选择城市" id="citys" name="area2" onchange="loadRegion('citys', 3, 'countys', '__CONTROLLER__/getRegion');">
            					<option>市</option>
       					 </select>
       					 <!--  -->
    					</div>
    					<!--  -->
	  					</div>
	  					</div>
                     <!-- shi-end -->
                      <!-- qu -->
                        <div class="form1-item clearfix">
	  						<div class="it1-pic">
	  							<img src="__PUBLIC__/Home/images/qu.png" alt="">
	  						</div>
	  						<div class="it1-name">
	  							选择区   ：
	  						</div>
	  						<div class="it1-input">
	  						<!--  -->
                             <div class="demo">
                                <!-- 区 -->
        					<select class="select" isval="true" msg="请选择区份" name="area3" id="countys">
            					<option>区</option>
       					 </select>
       					 <!--  -->
    					</div>
    					<!--  -->
	  					</div>
	  					</div>
                     <!-- 区-end -->


	  				</div>
	  				<!-- two-end -->
	  				  <div class="sq-btn">
                            <input type="button" value="立即申请" id="submit">
                      </div>
	  				 <div style="background-color:#f7f7f7;height:0.21rem;width:7.2rem;margin-top:0.23rem;"></div>
	  			</div>
	  			<!--  -->
	  		</div>
	  		<!-- end -->
	  		<!-- 超低1成首付 -->
             <div class="product">
            <!--  -->
             <div class="product-tle">
               <div class="pro-tle">
                  <img src="__PUBLIC__/Home/images/tle-price.png" alt="">
                  <p>超低1成首付</p>
               </div>
             </div>
             <!--  -->
             <div class="product-list">
            <!-- 1 -->
              <div class="pro-che clearfix">

               <div class="pro-pic">
                 <img src="__PUBLIC__/Home/images/che-1.jpg" alt="">
               </div>

               <div class="pro-txt">
                 <div class="txt-tle">
               现代瑞纳1.4L自动智能型GLS
                 </div>

                 <div class="txt-t">
                  <p>厂家指导价 ：￥87400</p>
                  <p>期    数 ：<span>36</span></p>
                  <p>日供金额 ：￥94</p>
                 </div>

               </div>
               <!--  -->
              </div>
              <!-- 1 -->
                  <!-- 2 -->
              <div class="pro-che clearfix">

               <div class="pro-pic">
                 <img src="__PUBLIC__/Home/images/che-1.jpg" alt="">
               </div>

               <div class="pro-txt">
                 <div class="txt-tle">
               现代瑞纳1.4L自动智能型GLS
                 </div>

                 <div class="txt-t">
                  <p>厂家指导价 ：￥87400</p>
                  <p>期    数 ：<span>36</span></p>
                  <p>日供金额 ：￥94</p>
                 </div>

               </div>
               <!--  -->
              </div>
              <!-- 2 -->
                  <!-- 3 -->
              <div class="pro-che clearfix">

               <div class="pro-pic">
                 <img src="__PUBLIC__/Home/images/che-1.jpg" alt="">
               </div>

               <div class="pro-txt">
                 <div class="txt-tle">
               现代瑞纳1.4L自动智能型GLS
                 </div>

                 <div class="txt-t">
                  <p>厂家指导价 ：￥87400</p>
                  <p>期    数 ：<span>36</span></p>
                  <p>日供金额 ：￥94</p>
                 </div>

               </div>
               <!--  -->
              </div>
              <!-- 3 -->
                  <!-- 4 -->
              <div class="pro-che clearfix">

               <div class="pro-pic">
                 <img src="__PUBLIC__/Home/images/che-1.jpg" alt="">
               </div>

               <div class="pro-txt">
                 <div class="txt-tle">
               现代瑞纳1.4L自动智能型GLS
                 </div>

                 <div class="txt-t">
                  <p>厂家指导价 ：￥87400</p>
                  <p>期    数 ：<span>36</span></p>
                  <p>日供金额 ：￥94</p>
                 </div>

               </div>
               <!--  -->
              </div>
              <!-- 4 -->
                  <!-- 5 -->
              <div class="pro-che clearfix">

               <div class="pro-pic">
                 <img src="__PUBLIC__/Home/images/che-1.jpg" alt="">
               </div>

               <div class="pro-txt">
                 <div class="txt-tle">
               现代瑞纳1.4L自动智能型GLS
                 </div>

                 <div class="txt-t">
                  <p>厂家指导价 ：￥87400</p>
                  <p>期    数 ：<span>36</span></p>
                  <p>日供金额 ：￥94</p>
                 </div>

               </div>
               <!--  -->
              </div>
              <!-- 5 -->
                  <!-- 6 -->
              <div class="pro-che clearfix">

               <div class="pro-pic">
                 <img src="__PUBLIC__/Home/images/che-1.jpg" alt="">
               </div>

               <div class="pro-txt">
                 <div class="txt-tle">
               现代瑞纳1.4L自动智能型GLS
                 </div>

                 <div class="txt-t">
                  <p>厂家指导价 ：￥87400</p>
                  <p>期    数 ：<span>36</span></p>
                  <p>日供金额 ：￥94</p>
                 </div>

               </div>
               <!--  -->
              </div>
              <!-- 6 -->

              <!-- d -->
             </div>
             <div style="background-color:#f7f7f7;height:0.18rem;width:7.2rem;"></div>

 <!--  -->
                  </div>
             <!--  -->
             <div class="buycar">
             <div class="buycar-tle clearfix">
             <img src="__PUBLIC__/Home/images/star.jpg" alt="">
             <p>买车宝典</p>
             </div>
              <div class="buy-pic">
             <img src="__PUBLIC__/Home/images/ban-2.jpg" alt="">
             </div>
             <div style="width:7.2rem;height:0.24rem;background-color:#f7f7f7;margin-top:0.4rem">
             </div>
             </div>
             <!-- buycar -->
             <!-- takecar -->
             <div class="takecar">
              <div class="takecar-tle clearfix">
             <img src="__PUBLIC__/Home/images/che-tle.png" alt="">
             <p>极速提车</p>
              </div>
               <div class="gc">
               <div class="gc-img">
               <img src="__PUBLIC__/Home/images/bot-b.png" alt="">
               </div>
               <!-- 1 -->
               <div class="gc-list clearfix">
               <div class="gc-item">
               <div class="gc-tle">
               到店选车
               </div>

               </div>
               <!-- 2 -->
                    <div class="gc-item" style="margin-left: 0.3rem;">
               <div class="gc-tle">
               提交材料
               </div>
                <p>仅需身份证，驾驶证</p>
               </div>
               <!--  -->
               <!-- 3 -->
                    <div class="gc-item" style="margin-left:0.3rem">
               <div class="gc-tle">
               签订合同
               </div>
               <p>支付首付</p>
               </div>
               <!--  -->
               <!-- 4 -->
                    <div class="gc-item" style="margin-left: 0.1rem">
               <div class="gc-tle">
               开车上路
               </div>

               </div>
               <!--  -->

               </div>
              </div>
             </div>
             <!--takecar  -->
             <!-- footer -->
             <footer>
              <div class="foot-b">
                <div class="foot-dx" style="background-size:100%;">
                  我有我的底线
                </div>
                <p>2017 领先易贷.All Rights Reserved</p>
              </div>
             </footer>
             <!-- footer -->
             <!-- end -->
             <input type="submit" class="foot-btn" value="立即申请" onclick="onTopClick();">
             <!--  -->
	  	</form>
	  </section>


    <script  src="__PUBLIC__/Home/js/jquery.glide.min.js"></script>
    <script src="__PUBLIC__/Home/js/zz.js"></script>

     <script src="__PUBLIC__/Home/js/area.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>

     <script>

         $(function(){
             var cookie = $.cookie('total');
             if (cookie != undefined && cookie != 'NaN' && cookie != 'null') {
                 timekeeping();
             } else {
                 $('#smsBtn').removeAttr("disabled");
             }

             function timekeeping(){
                 //把按钮设置为不可以点击
                 $('#smsBtn').attr("disabled", true);
                 var interval = setInterval(function () {
                     //从cookie 中读取剩余倒计时
                     total=$.cookie("total");
                     //在发送按钮显示剩余倒计时
                     $('#smsBtn').html('请等待'+total+'秒');
                     //把剩余总倒计时减掉1
                     total--;

                     if (total ==0 ) {
                         //清除定时器
                         clearInterval(interval);
                         //删除cookie
                         total=$.cookie("total",total, { expires: -1 });

                         //显示重新发送
                         $('#smsBtn').html('重新发送');
                         //把发送按钮设置为可点击
                         $('#smsBtn').attr("disabled", false);
                     } else {
                         //重新写入总倒计时
                         $.cookie("total",total);
                     }
                 }, 1000);

             }
             //绑定发送按钮
             $('#smsBtn').click(function(event) {

                 //校验手机号码
                 var phone=$('#phone').val();
                 var pre=/^[1][358][0-9]{9}$/;
                 if(phone==''){
                     alert('手机号不能为空');
                     return false;
                 }else{
                     var pre=/^[1][358][0-9]{9}$/;
                     if(!pre.test(phone)){
                         alert('手机号码格式有误')
                         return false;
                     }
                 }

                 $.post(
                     '{:U("sendSms")}',
                     {"phone": phone},
                     function (data) {
                         if (data.status == 1) {
                             $.cookie("total",60);
                             timekeeping();
                         } else {
                             alert(data.msg);
                         }
                     },
                     'json'
                 );
             });
         });

         $('#submit').click(function () {
            $.post(
                '__CONTROLLER__/getOrderIn',
                $('#orderForm').serialize(),
                function (data) {
                    alert(data.msg);
                    if (data.status == 1) {
                        window.location.reload();
                    }
                },
                'json'
            );
         });
     </script>

     <script>

         function loadRegion(sel,type_id,selName,url){
             if (selName == 'citys') {
                 jQuery("#"+selName+" option").each(function(){
                     jQuery(this).remove();
                 });
                 jQuery("#countys option").each(function(){
                     jQuery(this).remove();
                 });
                 jQuery("<option value='0'>请选择</option>").appendTo(jQuery("#countys"));
             } else {
                 jQuery("#"+selName+" option").each(function(){
                     jQuery(this).remove();
                 });
             }

             jQuery("<option value=0>请选择</option>").appendTo(jQuery("#"+selName));
             if(jQuery("#"+sel).val()==0){
                 return;
             }
             jQuery.getJSON(url,{pid:jQuery("#"+sel).val(),type:type_id},
                 function(data){
                     if(data){
                         jQuery.each(data,function(idx,item){
                             jQuery("<option value="+item.id+">"+item.name+"</option>").appendTo(jQuery("#"+selName));
                         });
                     }else{
                         jQuery("<option value='0'>请选择</option>").appendTo(jQuery("#"+selName));
                     }
                 }
             );
         }

     </script>
	<script >
        function onTopClick() {
            window.location.hash = "#abc";

        }
	</script>
    <script>
     var glide = $('.slider').glide({
          //autoplay:true,//是否自动播放 默认值 true如果不需要就设置此值
          animationTime:500, //动画过度效果，只有当浏览器支持CSS3的时候生效
          arrows:true, //是否显示左右导航器
          arrowsWrapperClass: "arrowsWrapper",//滑块箭头导航器外部DIV类名
          arrowMainClass: "slider-arrow",//滑块箭头公共类名
          arrowRightClass:"slider-arrow--right",//滑块右箭头类名
          arrowLeftClass:"slider-arrow--left",//滑块左箭头类名
          arrowRightText:">",//定义左右导航器文字或者符号也可以是类
          arrowLeftText:"<",

          nav:true, //主导航器也就是本例中显示的小方块
          navCenter:true, //主导航器位置是否居中
          navClass:"slider-nav",//主导航器外部div类名
          navItemClass:"slider-nav__item", //本例中小方块的样式
          navCurrentItemClass:"slider-nav__item--current" //被选中后的样式
        });
     </script>
     <script>
         var  btnBottom=document.getElementsByClassName('foot-btn')[0];
         //插件初始化配置

         $(window).scroll(function () {
             if ($(window).scrollTop() > 600) {
                 btnBottom.style.display="block";
             }
             else
             {
                 btnBottom.style.display="none";
             }
         });
    </script>
</body>
</html>
